@font-face {
    font-family: "GoudyMediaeval";
    src: url("GoudyMediaeval-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "EnglishTowne";
    src: url("EnglishTowne.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Seagram";
    src: url("Seagram-tfb.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
margin: 0;
font-family: "GoudyMediaeval", Arial, sans-serif;

background-image: url("assets/ryethemebackground.png");
background-size: 1400px;
background-position: center top;
background-repeat: repeat-y;
background-color: black;

margin: 0;
color: white   
}

header {
background: black;
padding: 20px;
text-align: center;
border-bottom: 2px solid #222;
}

header h1 {
margin: 0;
letter-spacing: 4px;
}

nav {
margin-top: 10px;
}

nav a {
color: #aaa;
margin: 0 10px;
text-decoration: none;
}

nav a:hover {
color: white;
}

.hero {
text-align: center;
padding: 40px 20px;
}

.hero img {
max-width: 300px;
}

.tagline {
font-style: italic;
color: #888;
}

section {
padding: 40px 20px;
max-width: 900px;
margin: auto;
}

h2 {
border-left: 4px solid #444;
padding-left: 10px;
}

.game {
margin-bottom: 25px;
padding: 15px;
background: #151515;
border-radius: 6px;
}

.about, .trailers {
background: #111;
border-radius: 6px;
}

footer {
text-align: center;
padding: 30px;
background: black;
font-size: 14px;
color: #777;
}

.grid {display: grid;
grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
gap: 20px;
padding: 20px;
align-items: stretch;
}

.card {
display: block;
text-decoration: none;
background: #151515;
border-radius: 10px;
overflow: hidden;
color: white;
transition: 0.2s;
}

.card:hover {
transform: scale(1.03);
}

.card img {
width: 100%;
height: 160px;
object-fit: cover;
}

.container {
 max-width: 900px;
 margin: 0 auto;
 background: rgba(0, 0, 0, 0.0);
 color: white;
 padding: 20px;
 }

 h1 {
 font-family: "Seagram", Arial, sans-serif;
 color: red;
 font-size: 72px;
 }
 
 h2 {
 font-family: "EnglishTowne", Arial, sans-serif;
 font-size: 32px;
 color: #e32c14;
 }

 p {
 font-family: "GoudyMediaeval", Arial, sans-serif;
 font-size: 24px !important;
 color: #F2EDC4;
 }

 .game-logo {
 width: 100%;
 max-width: 1200px;
 height: auto;
 display: block;
 margin: 0 auto;
 }

.card h3 {
padding: 10px;
margin: 0;
font-size: 16px;
}
